<div class="container">
    <div class="d-flex justify-content-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">
                  <div id="messages" class="alert alert-success" hidden></div>
                  <div id="messages" class="alert alert-danger" hidden></div>
                  <form name="passReset" id="passReset" role="form" autocomplete="off" class="form" method="post" novalidate>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                        <input [(ngModel)] = "email" name="email" id="email" placeholder="email address" class="form-control" type="email" required email/>
                      </div>
                      <!---<div class="alert-danger">Email is Invalid</div>*/-->
                    </div>
                  <div class="form-group">
                    <button (click)="resetPassword()"name="recover-submit" class="btn btn-lg btn-primary btn-block" type="submit">Send Password Reset</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div> 
