<head>
	<title>Firebase Login</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet"/> 
</head>
<body>
  <div *ngIf = "!logged" id="login_div" class="main-div">
    <h3>Log In</h3>
    <input autofocus="autofocus" type="email" placeholder="Email..." id="email_field" [(ngModel)] = "email" />
    <input type="password" placeholder="Password..." id="password_field " [(ngModel)] = "password"/>
    <button class="btn" (click)="login()">Login to Account</button>
  </div>
  <div *ngIf = "logged" id="user_div" class="loggedin-div">
    <h3 id="user_para">Welcome</h3>
    <button class="btn" (click) ="logout()">Logout</button>
    <button onclick="send_verification()">Send Verification</button>
  </div>
</body>
