/*
.navbar-default{
    background-color: #FF7F50;
    border-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default a.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}
*/